html,
body {
  font-family: "Apercu Regular", "Apercu", Calibri, sans-serif;
  font-size: 13px;
}

body {
  overflow-x: hidden;
  background: #fff;
  color: #414745;
  padding-bottom: 0px;
  line-height: 1.65;
}

h1,
h2,
h3,
h4 {
  font-family: "Apercu Bold", "Apercu", Calibri, sans-serif;
  line-height: 1.25;
}

a,
a:link {
  color: #0054ff;
}

::selection {
  background: #46b3a5;
  color:#fff; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #46b3a5;
  color:#fff; /* Gecko Browsers */
}

.pst-hero {
  position: relative;
  /*background-image: url(../images/bg-1.jpg);*/
  background-color: #777;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1500;
  min-height: 100vh;
  padding: 0 2em;
}

/*.pst-hero:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(10,10,20,.35);
  z-index: -1;
}*/

.pst-hero h1 {
  font-size: 42px;
  font-weight: 600;
}

@media screen and (min-width: 980px) {

  .pst-hero h1 {
    font-size: 96px;
    font-weight: 600;
  } 
}

.pst-px {
  /*transition: transform .25s ease-in-out;*/
}

.pst-hero h1 span {
  margin-top: 1em;
  font-weight:400;
  display:block;
  font-size: .35em;
}

.pst-navbar {
  font-size: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0px;
  padding: 20px 20px;
  box-sizing: border-box;
  z-index: 2000;
  color: #fff;
  font-size: 14px;
}

.pst-navbar__nav {
  float: right;
  display: block;
  font-weight: 500;
  padding-right: 20px;
}

.pst-navbar a {
  color: inherit;
  display: inline-block;
  margin-left: 1em;
  line-height: 1;
  text-decoration: none;
}

.pst-logo {
  letter-spacing: .15em;
  line-height: 1;
  font-weight: 900;
  padding-bottom: 0;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.pst-section {
  box-sizing: border-box;
  padding: 2em 2em 4em;
  position: relative;
}

.pst-col--turqoise {
  background-color: #2CB294;
}

.pst-svg-pattern {
  position: absolute;
  left: 30px;
  top:  -30px;
  width: 100%;
  height: 100%;
  background-image: url(../images/circle-pattern.svg);
  background-size: 12px;
}

.pst-svg-pattern--green {
  position: absolute;
  left: 0;
  top:  0;
  width: 100%;
  height: 100%;
  background-image: url(../images/wave-bg.svg);
  background-size: 1200px;
}

.pst-col--turqoise .pst-section__title {
  color: #fff;
}

.pst-container {
  margin: 0 auto;
  max-width: 780px;
  width: 100%;
}

@media screen and (min-width:980px) {
  .pst-flex--row-container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
  }

  .pst-col--50 {
    width: 50%;
    min-height: 50vh;
  }

  .pst-section {
    padding: 6em 6em;
  }
}

.pst-section__text {
  font-size: 22px;
  font-weight: 300;
}

.pst-section__title {
  font-size: 48px;
  font-weight: 800;
  color: #2CB294;
}


.pst-founders-section {
  border-right: 1px solid #f3f3f3;
}

.pst-founders-section .pst-section__title {
  /*color: #BD10E0;*/
}

.pst-what-section {
  /*background: #A65EE4;*/
}

.pst-what-section .pst-section__title {
  /*color: #0054ff;*/
}

.pst-contact-section {
  border-top: 1px solid #f3f3f3;
  /*text-align: center;*/
}

.pst-hero--blog .pst-svg-pattern--green {
  position: absolute;
  left: 0;
  top:  0;
  width: 100%;
  height: 100%;
  background-image: url(../images/circle-pattern-green.svg);
  background-size: 32px;
}

.pst-article-list {
  margin-bottom: 5em;
  padding: 0 2em;
}

.pst-article {
  padding-bottom: 5em;
  padding-top: 5em;
  border-bottom: 1px solid #efefef;
}
.pst-article:last-child {
  border-bottom: none;
}

.pst-article__time {
  color: #999;
  font-size: 15px;
  letter-spacing: .15em;
  font-weight: 900;
}
.pst-article__title {
  font-size: 42px;
  margin-top: .25em;
}
.pst-article__text {
  font-size: 22px;
  font-weight: 400;
}

/* colors */
.pst-turqoise {
  color: #2CB294;
}

.pst-purple {
  color: #A65EE4;
}

.pst-violet {
  color: #BD10E0;
}

.pst-red {
  color: #DA322A;
}

.pst-blue {
  color: #0054ff;
}

.pst-lightBlue {
  color: #4A90E2;
}

.pst-orange {
  color: #F9952D;
}

.pst-yellow {
  color: #F8E71C;
}

