html,
body {
  font-family: Apercu, sans-serif;
  color: #444;
  line-height: 1.5;
  font-size: 15px;
}

.pst-hero {
  padding: 2em;
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
}

.pst-hero h2 {
  font-weight: 100;
  margin-top: 0;
}


#waves,
#waves-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 24px;
  right: 0;
}


#waves-placeholder {
  position: absolute;
}

#waves {
  /*border: 12px solid #444;*/
  right: 0;
  /*background: yellow;*/
  /*background: #7A59EB;*/
}

.pst-about {
  padding: 2em;
  max-width: 560px;
  margin: 0 auto;
}

.pst-section__title {
  font-size: 2.5em;
  margin-bottom: 0;
}

.pst-section__text {
  margin: 0;
  font-size: 1.25em;
  font-weight: 100;
}

.pst-contacts {
  text-align: center;
  padding: 2em 0;
  font-size: 3em;
  
}

.pst-contacts a {
  color: magenta;
}

@media screen and (min-width: 960px) {
  .pst-about,
  .pst-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: left;
  }

  .pst-hero__header {
    margin-left: 4em;
    order:2;
  }

  .pst-hero h1 {
    margin: 0;
    font-size: 4em;
    margin-top: -1em;
    margin-bottom: 1em;
  }

  .pst-hero h2 {

  }

  .pst-about {
    max-width: 960px;
    margin: 0 auto;
    align-items: flex-start;
  }

}